## How to download the HELM dataset

Run in terminal:

```bash
export LEADERBOARD_VERSION=v0.3.0
curl -O https://storage.googleapis.com/crfm-helm-public/benchmark_output/archives/${LEADERBOARD_VERSION}/run_stats.zip
mkdir -p benchmark_output/runs/${LEADERBOARD_VERSION}
unzip run_stats.zip -d benchmark_output/runs/${LEADERBOARD_VERSION}
```

In [1]:
import os
import json
import pandas as pd

Download and compile all of the leaderboard files into a single csv

In [2]:
rows = []

# access all subdirectories
for root, dirs, files in os.walk("benchmark_output/runs/v0.3.0"):
    for file in files:
        if file.endswith(".json"):
            filepath = os.path.join(root, file)
            
            with open(filepath, "r") as f:
                data = json.load(f)
            
            flat = pd.json_normalize(data)
            rows.append(flat)

In [3]:
df = pd.concat(rows, ignore_index=True)

In [4]:
df.to_csv("helm_leaderboard_all_results.csv", index=False)

Run from here to load saved data and clean it

In [8]:
data = pd.read_csv("helm_leaderboard_all_results.csv")

/var/folders/hs/7f_hs7wj2ll96x641hd2x7wc0000gn/T/ipykernel_89988/3388851766.py:1: DtypeWarning: Columns (20,22,23,48,53,54,55,56,57,58,60,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("helm_leaderboard_all_results.csv")

In [9]:
data

,count,sum,sum_squared,min,max,mean,variance,stddev,name.name,name.split,...,scenario_spec.args.topic,scenario_spec.args.dataset,scenario_spec.args.datatag,scenario_spec.args.dataset_name,scenario_spec.args.sampling_min_length,scenario_spec.args.sampling_max_length,scenario_spec.args.doc_max_length,scenario_spec.args.difficulty,scenario_spec.args.gender,scenario_spec.args.num_parenthesis_pairs
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_references,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_train_trials,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0,num_prompt_tokens,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_completion_tokens,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_output_tokens,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2799511,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,estimated_num_tokens_cost,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799512,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,num_completions,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799513,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,max_num_output_tokens,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799514,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0,num_requests,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
drop_cols = [c for c in data.columns if c.startswith(("scenario","name","adapter","data_","metric","groups"))]
drop_cols.remove("name.name")
drop_cols.remove("adapter_spec.model")
data_clean = data.drop(columns=drop_cols)
data_clean

,count,sum,sum_squared,min,max,mean,variance,stddev,name.name,adapter_spec.model
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_references,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_train_trials,NaN
2,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0,num_prompt_tokens,NaN
3,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_completion_tokens,NaN
4,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_output_tokens,NaN
...,...,...,...,...,...,...,...,...,...,...
2799511,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,estimated_num_tokens_cost,NaN
2799512,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,num_completions,NaN
2799513,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,max_num_output_tokens,NaN
2799514,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0,num_requests,NaN
2799515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ai21/j1-jumbo

In [35]:
data_clean["model"] = df["adapter_spec.model"].bfill()
data_clean

,count,sum,sum_squared,min,max,mean,variance,stddev,name.name,adapter_spec.model,model
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_references,NaN,cohere/small-20220720
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_train_trials,NaN,cohere/small-20220720
2,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0,num_prompt_tokens,NaN,cohere/small-20220720
3,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_completion_tokens,NaN,cohere/small-20220720
4,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_output_tokens,NaN,cohere/small-20220720
...,...,...,...,...,...,...,...,...,...,...,...
2799511,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,estimated_num_tokens_cost,NaN,ai21/j1-jumbo
2799512,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,num_completions,NaN,ai21/j1-jumbo
2799513,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,max_num_output_tokens,NaN,ai21/j1-jumbo
2799514,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0,num_requests,NaN,ai21/j1-jumbo
2799515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ai21/j1-jumbo,ai21/j1-jumbo

In [36]:
data_clean = data_clean.drop("adapter_spec.model", axis=1)
data_clean = data_clean.dropna()
data_clean.insert(0, "name.name", data_clean.pop("name.name"))
data_clean = data_clean.rename(columns={'name.name':'metric'})
data_clean.insert(0, "model", data_clean.pop("model"))
data_clean

,model,metric,count,sum,sum_squared,min,max,mean,variance,stddev
0,cohere/small-20220720,num_references,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
1,cohere/small-20220720,num_train_trials,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
2,cohere/small-20220720,num_prompt_tokens,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0
3,cohere/small-20220720,num_completion_tokens,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0
4,cohere/small-20220720,num_output_tokens,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2799510,ai21/j1-jumbo,num_bytes,3.0,6.0,12.0,2.0,2.0,2.0,0.0,0.0
2799511,ai21/j1-jumbo,estimated_num_tokens_cost,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0
2799512,ai21/j1-jumbo,num_completions,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0
2799513,ai21/j1-jumbo,max_num_output_tokens,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0
2799514,ai21/j1-jumbo,num_requests,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0

In [37]:
data_clean.to_csv("helm_leaderboard_all_results_clean.csv", index=False)