## How to download the HELM dataset

Run in terminal:

```bash
export LEADERBOARD_VERSION=v0.3.0
curl -O https://storage.googleapis.com/crfm-helm-public/benchmark_output/archives/${LEADERBOARD_VERSION}/run_stats.zip
mkdir -p benchmark_output/runs/${LEADERBOARD_VERSION}
unzip run_stats.zip -d benchmark_output/runs/${LEADERBOARD_VERSION}
```

In [1]:
import os
import json
import pandas as pd

Download and compile all of the leaderboard files into a single csv

In [2]:
rows = []

# access all subdirectories
for root, dirs, files in os.walk("benchmark_output/runs/v0.3.0"):
    for file in files:
        if file.endswith(".json"):
            filepath = os.path.join(root, file)
            
            with open(filepath, "r") as f:
                data = json.load(f)
            
            flat = pd.json_normalize(data)
            rows.append(flat)

In [3]:
df = pd.concat(rows, ignore_index=True)

In [4]:
df.to_csv("helm_leaderboard_all_results.csv", index=False)

Run from here to load saved data and clean it

In [8]:
data = pd.read_csv("helm_leaderboard_all_results.csv")

/var/folders/hs/7f_hs7wj2ll96x641hd2x7wc0000gn/T/ipykernel_89988/3388851766.py:1: DtypeWarning: Columns (20,22,23,48,53,54,55,56,57,58,60,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("helm_leaderboard_all_results.csv")

In [9]:
data

,count,sum,sum_squared,min,max,mean,variance,stddev,name.name,name.split,...,scenario_spec.args.topic,scenario_spec.args.dataset,scenario_spec.args.datatag,scenario_spec.args.dataset_name,scenario_spec.args.sampling_min_length,scenario_spec.args.sampling_max_length,scenario_spec.args.doc_max_length,scenario_spec.args.difficulty,scenario_spec.args.gender,scenario_spec.args.num_parenthesis_pairs
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_references,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_train_trials,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0,num_prompt_tokens,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_completion_tokens,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_output_tokens,test,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2799511,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,estimated_num_tokens_cost,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799512,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,num_completions,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799513,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,max_num_output_tokens,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799514,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0,num_requests,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
drop_cols = [c for c in data.columns if c.startswith(("scenario","name","adapter","data_","metric","groups"))]
drop_cols.remove("name.name")
drop_cols.remove("adapter_spec.model")
data_clean = data.drop(columns=drop_cols)
data_clean

,count,sum,sum_squared,min,max,mean,variance,stddev,name.name,adapter_spec.model
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_references,NaN
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_train_trials,NaN
2,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0,num_prompt_tokens,NaN
3,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_completion_tokens,NaN
4,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_output_tokens,NaN
...,...,...,...,...,...,...,...,...,...,...
2799511,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,estimated_num_tokens_cost,NaN
2799512,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,num_completions,NaN
2799513,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,max_num_output_tokens,NaN
2799514,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0,num_requests,NaN
2799515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ai21/j1-jumbo

In [35]:
data_clean["model"] = df["adapter_spec.model"].bfill()
data_clean

,count,sum,sum_squared,min,max,mean,variance,stddev,name.name,adapter_spec.model,model
0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_references,NaN,cohere/small-20220720
1,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,num_train_trials,NaN,cohere/small-20220720
2,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0,num_prompt_tokens,NaN,cohere/small-20220720
3,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_completion_tokens,NaN,cohere/small-20220720
4,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0,num_output_tokens,NaN,cohere/small-20220720
...,...,...,...,...,...,...,...,...,...,...,...
2799511,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,estimated_num_tokens_cost,NaN,ai21/j1-jumbo
2799512,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,num_completions,NaN,ai21/j1-jumbo
2799513,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0,max_num_output_tokens,NaN,ai21/j1-jumbo
2799514,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0,num_requests,NaN,ai21/j1-jumbo
2799515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ai21/j1-jumbo,ai21/j1-jumbo

In [36]:
data_clean = data_clean.drop("adapter_spec.model", axis=1)
data_clean = data_clean.dropna()
data_clean.insert(0, "name.name", data_clean.pop("name.name"))
data_clean = data_clean.rename(columns={'name.name':'metric'})
data_clean.insert(0, "model", data_clean.pop("model"))
data_clean

,model,metric,count,sum,sum_squared,min,max,mean,variance,stddev
0,cohere/small-20220720,num_references,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
1,cohere/small-20220720,num_train_trials,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
2,cohere/small-20220720,num_prompt_tokens,1.0,1024.0,1048576.0,1024.0,1024.0,1024.0,0.0,0.0
3,cohere/small-20220720,num_completion_tokens,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0
4,cohere/small-20220720,num_output_tokens,1.0,32.0,1024.0,32.0,32.0,32.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2799510,ai21/j1-jumbo,num_bytes,3.0,6.0,12.0,2.0,2.0,2.0,0.0,0.0
2799511,ai21/j1-jumbo,estimated_num_tokens_cost,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0
2799512,ai21/j1-jumbo,num_completions,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0
2799513,ai21/j1-jumbo,max_num_output_tokens,957.0,957.0,957.0,1.0,1.0,1.0,0.0,0.0
2799514,ai21/j1-jumbo,num_requests,1.0,957.0,915849.0,957.0,957.0,957.0,0.0,0.0

In [37]:
data_clean.to_csv("helm_leaderboard_all_results_clean.csv", index=False)

In [38]:
models = data_clean['model'].unique()

In [39]:
print(models)

['cohere/small-20220720' 'cohere/xlarge-20220609' 'openai/ada'
 'together/t5-11b' 'together/redpajama-incite-instruct-3b-v1'
 'together/opt-175b' 'openai/text-davinci-002' 'lmsys/vicuna-7b-v1.3'
 'openai/text-ada-001' 'ai21/j1-large' 'ai21/j1-grande' 'mosaicml/mpt-30b'
 'openai/curie' 'together/ul2' 'anthropic/stanford-online-all-v4-s3'
 'meta/llama-65b' 'cohere/command-medium-beta' 'together/yalm'
 'meta/llama-2-7b' 'openai/text-babbage-001' 'openai/text-davinci-003'
 'meta/llama-30b' 'openai/davinci' 'together/gpt-neox-20b'
 'openai/babbage' 'cohere/medium-20220720' 'ai21/j1-jumbo'
 'together/gpt-j-6b' 'together/opt-66b'
 'together/redpajama-incite-instruct-7b' 'together/bloom' 'together/glm'
 'AlephAlpha/luminous-supreme' 'openai/gpt-3.5-turbo-0301' 'ai21/j2-large'
 'ai21/j2-jumbo' 'lmsys/vicuna-13b-v1.3' 'cohere/xlarge-20221108'
 'AlephAlpha/luminous-extended' 'cohere/command-xlarge-beta'
 'openai/code-cushman-001' 'AlephAlpha/luminous-base'
 'eleutherai/pythia-12b-v0' 'openai/text-curie-001'
 'ai21/j1-grande-v2-beta' 'cohere/medium-20221108' 'microsoft/TNLGv2_7B'
 'mosaicml/mpt-instruct-30b' 'tiiuae/falcon-7b'
 'openai/gpt-3.5-turbo-0613' 'tiiuae/falcon-40b' 'ai21/j2-grande'
 'meta/llama-7b' 'microsoft/TNLGv2_530B'
 'together/redpajama-incite-base-3b-v1' 'together/t0pp'
 'openai/code-davinci-002' 'cohere/large-20220720' 'meta/llama-2-70b'
 'together/redpajama-incite-base-7b' 'writer/palmyra-instruct-30'
 'meta/llama-13b' 'tiiuae/falcon-40b-instruct' 'tiiuae/falcon-7b-instruct'
 'stanford/alpaca-7b' 'eleutherai/pythia-6.9b' 'writer/palmyra-x'
 'meta/llama-2-13b' 'eleutherai/pythia-1b-v0']

In [41]:
metrics = data_clean['metric'].unique()
print(metrics)

['num_references' 'num_train_trials' 'num_prompt_tokens'
 'num_completion_tokens' 'num_output_tokens' 'inference_runtime'
 'batch_size' 'inference_denoised_runtime' 'finish_reason_length'
 'finish_reason_stop' 'finish_reason_endoftext' 'finish_reason_unknown'
 'num_train_instances' 'prompt_truncated' 'max_prob' 'exact_match'
 'logprob' 'num_perplexity_tokens' 'num_bytes' 'perplexity'
 'bits_per_byte' 'logprob_per_byte' 'ece_10_bin' 'ece_1_bin'
 'selective_cov_acc_area' 'selective_acc@10' 'platt_ece_10_bin'
 'platt_ece_1_bin' 'num_instances' 'expected_max_toxicity'
 'max_toxicity_probability' 'toxic_frac' 'estimated_num_tokens_cost'
 'num_completions' 'max_num_output_tokens' 'num_requests'
 'inference_idealized_runtime' 'exact_match@5' 'quasi_exact_match'
 'quasi_exact_match@5' 'prefix_exact_match' 'prefix_exact_match@5'
 'quasi_prefix_exact_match' 'quasi_prefix_exact_match@5' 'platt_coef'
 'platt_intercept'
 'bias_metric:mode=representation,demographic_category=race' 'Success@1'
 'Success@2' 'Success@3' 'Success@5' 'Success@10' 'Success@20' 'Recall@1'
 'Recall@2' 'Recall@3' 'Recall@5' 'Recall@10' 'Recall@20' 'RR@5' 'RR@10'
 'RR@20' 'Success@1 (topk=30)' 'Success@2 (topk=30)' 'Success@3 (topk=30)'
 'Success@5 (topk=30)' 'Success@10 (topk=30)' 'Success@20 (topk=30)'
 'Recall@1 (topk=30)' 'Recall@2 (topk=30)' 'Recall@3 (topk=30)'
 'Recall@5 (topk=30)' 'Recall@10 (topk=30)' 'Recall@20 (topk=30)'
 'RR@5 (topk=30)' 'RR@10 (topk=30)' 'RR@20 (topk=30)' 'ref19_rank'
 'ref7_rank' 'ref0_rank' 'ref11_rank' 'ref1_rank' 'ref14_rank'
 'ref23_rank' 'ref3_rank' 'ref12_rank' 'ref25_rank' 'ref29_rank'
 'ref27_rank' 'ref16_rank' 'ref8_rank' 'ref9_rank' 'ref22_rank'
 'ref26_rank' 'ref17_rank' 'ref24_rank' 'ref10_rank' 'ref13_rank'
 'ref6_rank' 'ref4_rank' 'ref2_rank' 'ref18_rank' 'ref5_rank' 'ref20_rank'
 'ref28_rank' 'ref21_rank' 'ref15_rank' 'ref30_rank' 'ref31_rank'
 'ref32_rank' 'ref33_rank' 'training_co2_cost' 'training_energy_cost'
 'predicted_index' 'math_equiv' 'f1_score'
 'bias_metric:mode=associations,demographic_category=gender,target_category=adjective'
 'bias_metric:mode=associations,demographic_category=gender,target_category=profession'
 'bias_metric:mode=representation,demographic_category=gender'
 'classification_macro_f1' 'classification_micro_f1'
 'exact_match_indicator'
 'bias_metric:mode=associations,demographic_category=race,target_category=profession'
 'bias_metric:mode=associations,demographic_category=race,target_category=adjective'
 'self_bleu' 'monte_carlo_entropy' 'longest_common_prefix_length'
 'edit_distance' 'edit_similarity' 'rouge_1' 'rouge_2' 'rouge_l'
 'summarization_coverage' 'summarization_density'
 'summarization_compression' 'bleu_1' 'bleu_4' 'summac' 'BERTScore-P'
 'BERTScore-R' 'BERTScore-F' 'math_equiv_chain_of_thought' 'bbq_accuracy'
 'bbq_metric_ambiguous_bias' 'bbq_metric_unambiguous_bias' 'f1_set_match'
 'iou_set_match' 'exact_set_match' 'QAFactEval' 'HumanEval-faithfulness'
 'HumanEval-relevance' 'HumanEval-coherence' 'NDCG@5' 'NDCG@10' 'NDCG@20'
 'NDCG@5 (topk=30)' 'NDCG@10 (topk=30)' 'NDCG@20 (topk=30)' 'ref50_rank'
 'ref70_rank' 'ref112_rank' 'ref179_rank' 'ref78_rank' 'ref93_rank'
 'ref161_rank' 'ref80_rank' 'ref59_rank' 'ref147_rank' 'ref96_rank'
 'ref106_rank' 'ref87_rank' 'ref88_rank' 'ref45_rank' 'ref37_rank'
 'ref124_rank' 'ref199_rank' 'ref103_rank' 'ref145_rank' 'ref146_rank'
 'ref122_rank' 'ref48_rank' 'ref104_rank' 'ref149_rank' 'ref189_rank'
 'ref152_rank' 'ref69_rank' 'ref140_rank' 'ref72_rank' 'ref196_rank'
 'ref42_rank' 'ref184_rank' 'ref91_rank' 'ref175_rank' 'ref89_rank'
 'ref190_rank' 'ref121_rank' 'ref75_rank' 'ref192_rank' 'ref125_rank'
 'ref111_rank' 'ref141_rank' 'ref108_rank' 'ref148_rank' 'ref54_rank'
 'ref56_rank' 'ref163_rank' 'ref46_rank' 'ref176_rank' 'ref186_rank'
 'ref130_rank' 'ref165_rank' 'ref143_rank' 'ref169_rank' 'ref156_rank'
 'ref135_rank' 'ref151_rank' 'ref115_rank' 'ref160_rank' 'ref185_rank'
 'ref157_rank' 'ref55_rank' 'ref82_rank' 'ref62_rank' 'ref98_rank'
 'ref68_rank' 'ref142_rank' 'ref127_rank' 'ref84_rank' 'ref133_rank'
 'ref58_rank' 'ref90_rank' 'ref129_rank' 'ref180_rank' 'ref118_rank'
 'ref170_rank' 'ref66_rank' 'ref114_rank' 'ref137_rank' 'ref102_rank'
 'ref107_rank' 'ref71_rank' 'ref158_rank' 'ref150_rank' 'ref100_rank'
 'ref194_rank' 'ref81_rank' 'ref187_rank' 'ref159_rank' 'ref181_rank'
 'ref139_rank' 'ref128_rank' 'ref52_rank' 'ref73_rank' 'ref77_rank'
 'ref119_rank' 'ref92_rank' 'ref162_rank' 'ref109_rank' 'ref49_rank'
 'ref178_rank' 'ref173_rank' 'ref53_rank' 'ref39_rank' 'ref167_rank'
 'ref105_rank' 'ref63_rank' 'ref188_rank' 'ref97_rank' 'ref195_rank'
 'ref43_rank' 'ref171_rank' 'ref76_rank' 'ref57_rank' 'ref51_rank'
 'ref131_rank' 'ref86_rank' 'ref198_rank' 'ref155_rank' 'ref95_rank'
 'ref134_rank' 'ref117_rank' 'ref74_rank' 'ref138_rank' 'ref83_rank'
 'ref172_rank' 'ref110_rank' 'ref191_rank' 'ref164_rank' 'ref35_rank'
 'ref177_rank' 'ref65_rank' 'ref166_rank' 'ref94_rank' 'ref154_rank'
 'ref64_rank' 'ref168_rank' 'ref113_rank' 'ref123_rank' 'ref34_rank'
 'ref126_rank' 'ref182_rank' 'ref144_rank' 'ref85_rank' 'ref197_rank'
 'ref183_rank' 'ref41_rank' 'ref116_rank' 'ref153_rank' 'ref120_rank'
 'ref67_rank' 'ref79_rank' 'ref174_rank' 'ref61_rank' 'ref193_rank'
 'ref44_rank' 'ref60_rank' 'ref101_rank' 'ref40_rank' 'ref38_rank'
 'ref136_rank' 'ref99_rank' 'ref47_rank' 'ref36_rank' 'ref132_rank'
 'ref282_rank' 'ref389_rank' 'ref400_rank' 'ref365_rank' 'ref324_rank'
 'ref362_rank' 'ref299_rank' 'ref366_rank' 'ref412_rank' 'ref335_rank'
 'ref451_rank' 'ref453_rank' 'ref426_rank' 'ref313_rank' 'ref230_rank'
 'ref240_rank' 'ref266_rank' 'ref446_rank' 'ref280_rank' 'ref416_rank'
 'ref270_rank' 'ref413_rank' 'ref259_rank' 'ref249_rank' 'ref418_rank'
 'ref233_rank' 'ref319_rank' 'ref254_rank' 'ref252_rank' 'ref317_rank'
 'ref398_rank' 'ref202_rank' 'ref361_rank' 'ref397_rank' 'ref241_rank'
 'ref463_rank' 'ref445_rank' 'ref452_rank' 'ref268_rank' 'ref248_rank'
 'ref392_rank' 'ref227_rank' 'ref300_rank' 'ref454_rank' 'ref290_rank'
 'ref293_rank' 'ref415_rank' 'ref431_rank' 'ref428_rank' 'ref310_rank'
 'ref372_rank' 'ref458_rank' 'ref225_rank' 'ref262_rank' 'ref211_rank'
 'ref216_rank' 'ref255_rank' 'ref375_rank' 'ref320_rank' 'ref316_rank'
 'ref260_rank' 'ref311_rank' 'ref224_rank' 'ref462_rank' 'ref363_rank'
 'ref284_rank' 'ref404_rank' 'ref235_rank' 'ref263_rank' 'ref289_rank'
 'ref212_rank' 'ref444_rank' 'ref371_rank' 'ref288_rank' 'ref461_rank'
 'ref291_rank' 'ref387_rank' 'ref383_rank' 'ref455_rank' 'ref209_rank'
 'ref439_rank' 'ref351_rank' 'ref384_rank' 'ref447_rank' 'ref261_rank'
 'ref425_rank' 'ref265_rank' 'ref438_rank' 'ref243_rank' 'ref427_rank'
 'ref236_rank' 'ref344_rank' 'ref246_rank' 'ref328_rank' 'ref376_rank'
 'ref448_rank' 'ref469_rank' 'ref312_rank' 'ref223_rank' 'ref394_rank'
 'ref308_rank' 'ref332_rank' 'ref440_rank' 'ref441_rank' 'ref201_rank'
 'ref258_rank' 'ref368_rank' 'ref411_rank' 'ref364_rank' 'ref358_rank'
 'ref417_rank' 'ref331_rank' 'ref437_rank' 'ref220_rank' 'ref213_rank'
 'ref348_rank' 'ref407_rank' 'ref276_rank' 'ref247_rank' 'ref245_rank'
 'ref232_rank' 'ref339_rank' 'ref399_rank' 'ref379_rank' 'ref370_rank'
 'ref354_rank' 'ref275_rank' 'ref436_rank' 'ref396_rank' 'ref250_rank'
 'ref217_rank' 'ref214_rank' 'ref304_rank' 'ref345_rank' 'ref419_rank'
 'ref460_rank' 'ref395_rank' 'ref410_rank' 'ref343_rank' 'ref219_rank'
 'ref367_rank' 'ref229_rank' 'ref298_rank' 'ref318_rank' 'ref326_rank'
 'ref221_rank' 'ref210_rank' 'ref315_rank' 'ref242_rank' 'ref205_rank'
 'ref222_rank' 'ref457_rank' 'ref393_rank' 'ref257_rank' 'ref374_rank'
 'ref450_rank' 'ref402_rank' 'ref234_rank' 'ref297_rank' 'ref321_rank'
 'ref386_rank' 'ref422_rank' 'ref443_rank' 'ref237_rank' 'ref238_rank'
 'ref377_rank' 'ref334_rank' 'ref355_rank' 'ref456_rank' 'ref467_rank'
 'ref303_rank' 'ref279_rank' 'ref408_rank' 'ref449_rank' 'ref226_rank'
 'ref301_rank' 'ref283_rank' 'ref347_rank' 'ref352_rank' 'ref414_rank'
 'ref278_rank' 'ref464_rank' 'ref330_rank' 'ref277_rank' 'ref271_rank'
 'ref204_rank' 'ref325_rank' 'ref390_rank' 'ref336_rank' 'ref239_rank'
 'ref353_rank' 'ref442_rank' 'ref430_rank' 'ref466_rank' 'ref337_rank'
 'ref420_rank' 'ref256_rank' 'ref373_rank' 'ref421_rank' 'ref206_rank'
 'ref329_rank' 'ref429_rank' 'ref380_rank' 'ref244_rank' 'ref215_rank'
 'ref200_rank' 'ref292_rank' 'ref207_rank' 'ref435_rank' 'ref306_rank'
 'ref309_rank' 'ref281_rank' 'ref388_rank' 'ref269_rank' 'ref350_rank'
 'ref296_rank' 'ref432_rank' 'ref314_rank' 'ref424_rank' 'ref346_rank'
 'ref323_rank' 'ref295_rank' 'ref359_rank' 'ref208_rank' 'ref340_rank'
 'ref294_rank' 'ref341_rank' 'ref470_rank' 'ref356_rank' 'ref468_rank'
 'ref357_rank' 'ref406_rank' 'ref342_rank' 'ref333_rank' 'ref433_rank'
 'ref253_rank' 'ref378_rank' 'ref203_rank' 'ref251_rank' 'ref369_rank'
 'ref274_rank' 'ref381_rank' 'ref338_rank' 'ref231_rank' 'ref385_rank'
 'ref307_rank' 'ref434_rank' 'ref228_rank' 'ref264_rank' 'ref465_rank'
 'ref360_rank' 'ref405_rank' 'ref286_rank' 'ref218_rank' 'ref273_rank'
 'ref349_rank' 'ref409_rank' 'ref305_rank' 'ref272_rank' 'ref302_rank'
 'ref459_rank' 'ref403_rank' 'ref423_rank' 'ref322_rank' 'ref285_rank'
 'ref382_rank' 'ref327_rank' 'ref401_rank' 'ref391_rank' 'ref287_rank'
 'ref267_rank' 'ref471_rank' 'ref491_rank' 'ref485_rank' 'ref482_rank'
 'ref475_rank' 'ref487_rank' 'ref480_rank' 'ref489_rank' 'ref477_rank'
 'ref473_rank' 'ref472_rank' 'ref486_rank' 'ref474_rank' 'ref484_rank'
 'ref481_rank' 'ref476_rank' 'ref478_rank' 'ref479_rank' 'ref488_rank'
 'ref483_rank' 'ref490_rank' 'ref518_rank' 'ref545_rank' 'ref556_rank'
 'ref543_rank' 'ref553_rank' 'ref494_rank' 'ref521_rank' 'ref534_rank'
 'ref539_rank' 'ref567_rank' 'ref551_rank' 'ref563_rank' 'ref502_rank'
 'ref503_rank' 'ref537_rank' 'ref578_rank' 'ref530_rank' 'ref574_rank'
 'ref540_rank' 'ref499_rank' 'ref505_rank' 'ref541_rank' 'ref508_rank'
 'ref506_rank' 'ref536_rank' 'ref542_rank' 'ref529_rank' 'ref550_rank'
 'ref552_rank' 'ref511_rank' 'ref492_rank' 'ref576_rank' 'ref507_rank'
 'ref524_rank' 'ref573_rank' 'ref496_rank' 'ref579_rank' 'ref562_rank'
 'ref555_rank' 'ref512_rank' 'ref568_rank' 'ref514_rank' 'ref561_rank'
 'ref535_rank' 'ref569_rank' 'ref528_rank' 'ref500_rank' 'ref547_rank'
 'ref523_rank' 'ref522_rank' 'ref510_rank' 'ref546_rank' 'ref519_rank'
 'ref544_rank' 'ref549_rank' 'ref554_rank' 'ref560_rank' 'ref498_rank'
 'ref515_rank' 'ref577_rank' 'ref559_rank' 'ref565_rank' 'ref516_rank'
 'ref572_rank' 'ref538_rank' 'ref581_rank' 'ref557_rank' 'ref558_rank'
 'ref509_rank' 'ref497_rank' 'ref533_rank' 'ref571_rank' 'ref504_rank'
 'ref564_rank' 'ref527_rank' 'ref532_rank' 'ref501_rank' 'ref575_rank'
 'ref513_rank' 'ref580_rank' 'ref517_rank' 'ref525_rank' 'ref495_rank'
 'ref526_rank' 'ref548_rank' 'ref531_rank' 'ref520_rank' 'ref566_rank'
 'ref493_rank' 'ref570_rank' 'code_eval_acc' 'pass'
 'wedging_eval_address_intended_audience'
 'wedging_eval_include_intended_goal' 'wedging_eval_style'
 'wedging_eval_divisiveness' 'wedging_eval_toxicity'
 'reiteration_eval_support_thesis' 'reiteration_eval_style' 'test_avg'
 'strict_acc']